{% if content_for_header contains 'emotional-comm.js' %}
        <div class='personalize_gift_with_video_div' data-plugintype='{{plugin_type}}'>
                <p class='emocomm-btn-p' style='display: none; '>
                   {% assign add_gift_button_banner = '' %}
                   {% assign add_gift_button_text = 'ADD A VIDEO MESSAGE' %}
                   {% assign add_gift_button_color = '#000000' %}
                   {% assign add_gift_button_text_color = '#FFFFFF' %}
                   {% if add_gift_button_banner != '' %}
                        <a href='#ex1' rel='emocomm-modal:open' class='ec-vgm-banner-link personalize-gift-btn'
                           style='display: none;'>
                            <img
                                src='{{ add_gift_button_banner | asset_url }}'
                                class='ec-vgm-banner'
                                    />
                            <i style='height:45px; display:table-caption'>
                                <i class='fa fa-spinner fa-pulse ec-fa-pulse' style='color: black;'></i>
                            </i>
                        </a>
                    {% else %}
                        <a href='#ex1' rel='emocomm-modal:open' class='personalize-gift-btn'
                           style='display: none;
                               background-color: {{ add_gift_button_color }};
                               color: {{ add_gift_button_text_color }};
                               padding-left:10px;'>
                            <svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='20pt'
                             height='20pt' viewBox='0 0 45 48' version='1.1' class='emocomm-video-gift-icon'
                             style='display: none;'>
                            <g id='surface1'>
                                <path
                                    style=' stroke:none;fill-rule:nonzero;fill:{{ add_gift_button_color }};fill-opacity:1;'
                                    d='M 42.3125 18.945312 L 2.691406 18.945312 C 1.84375 18.945312 1.152344 18.253906 1.152344 17.40625 L 1.152344 15.46875 C 1.152344 13.128906 3.0625 11.222656 5.414062 11.222656 L 11.25 11.222656 C 10.746094 10.261719 10.476562 9.199219 10.476562 8.109375 C 10.476562 4.273438 13.742188 1.148438 17.753906 1.148438 C 19.621094 1.148438 21.261719 1.832031 22.503906 3.09375 C 23.746094 1.832031 25.386719 1.148438 27.253906 1.148438 C 31.265625 1.148438 34.53125 4.273438 34.53125 8.109375 C 34.53125 9.195312 34.261719 10.261719 33.753906 11.222656 L 39.59375 11.222656 C 41.945312 11.222656 43.855469 13.128906 43.855469 15.46875 L 43.855469 17.40625 C 43.855469 18.253906 43.164062 18.945312 42.3125 18.945312 Z M 25.167969 10.058594 L 27.253906 10.058594 C 28.421875 10.058594 29.371094 9.183594 29.371094 8.109375 C 29.371094 7.035156 28.421875 6.160156 27.253906 6.160156 C 26.535156 6.160156 25.378906 6.699219 25.167969 10.058594 Z M 17.753906 6.160156 C 16.585938 6.160156 15.636719 7.035156 15.636719 8.109375 C 15.636719 9.183594 16.585938 10.058594 17.753906 10.058594 L 19.839844 10.058594 C 19.628906 6.699219 18.472656 6.160156 17.753906 6.160156 Z M 17.753906 6.160156 '/>
                                <path
                                    style=' stroke:none;fill-rule:nonzero;fill:{{ add_gift_button_text_color }};fill-opacity:1;'
                                    d='M 42.3125 17.796875 C 42.527344 17.796875 42.703125 17.621094 42.703125 17.40625 L 42.703125 15.46875 C 42.703125 13.757812 41.3125 12.371094 39.59375 12.371094 L 31.410156 12.371094 C 32.613281 11.304688 33.378906 9.796875 33.378906 8.109375 C 33.378906 4.902344 30.632812 2.296875 27.253906 2.296875 C 25.253906 2.296875 23.570312 3.238281 22.503906 4.953125 C 21.4375 3.238281 19.753906 2.296875 17.753906 2.296875 C 14.375 2.296875 11.628906 4.902344 11.628906 8.109375 C 11.628906 9.796875 12.386719 11.304688 13.597656 12.371094 L 5.414062 12.371094 C 3.695312 12.371094 2.304688 13.757812 2.304688 15.46875 L 2.304688 17.40625 C 2.304688 17.621094 2.480469 17.796875 2.691406 17.796875 L 42.3125 17.796875 M 27.253906 5.011719 C 29.058594 5.011719 30.523438 6.394531 30.523438 8.109375 C 30.523438 9.824219 29.058594 11.210938 27.253906 11.210938 C 25.445312 11.210938 23.980469 11.210938 23.980469 11.210938 C 23.980469 6.558594 25.445312 5.011719 27.253906 5.011719 M 21.027344 11.210938 C 21.027344 11.210938 19.5625 11.210938 17.753906 11.210938 C 15.949219 11.210938 14.484375 9.824219 14.484375 8.109375 C 14.484375 6.394531 15.949219 5.011719 17.753906 5.011719 C 19.5625 5.011719 21.027344 6.558594 21.027344 11.210938 M 42.3125 20.09375 L 2.691406 20.09375 C 1.207031 20.09375 0 18.890625 0 17.40625 L 0 15.46875 C 0 12.492188 2.429688 10.074219 5.414062 10.074219 L 9.574219 10.074219 C 9.410156 9.433594 9.324219 8.777344 9.324219 8.109375 C 9.324219 3.636719 13.105469 0 17.753906 0 C 19.53125 0 21.167969 0.554688 22.503906 1.574219 C 23.839844 0.554688 25.476562 0 27.253906 0 C 31.902344 0 35.683594 3.636719 35.683594 8.109375 C 35.683594 8.777344 35.597656 9.433594 35.429688 10.074219 L 39.59375 10.074219 C 42.578125 10.074219 45.007812 12.492188 45.007812 15.46875 L 45.007812 17.40625 C 45.007812 18.890625 43.800781 20.09375 42.3125 20.09375 Z M 26.460938 8.910156 L 27.253906 8.910156 C 27.785156 8.910156 28.21875 8.550781 28.21875 8.109375 C 28.21875 7.667969 27.785156 7.308594 27.253906 7.308594 C 26.992188 7.308594 26.664062 7.820312 26.460938 8.910156 Z M 17.753906 7.308594 C 17.222656 7.308594 16.789062 7.667969 16.789062 8.109375 C 16.789062 8.550781 17.222656 8.910156 17.753906 8.910156 L 18.546875 8.910156 C 18.34375 7.820312 18.015625 7.308594 17.753906 7.308594 Z M 17.753906 7.308594 '/>
                                <path
                                    style=' stroke:none;fill-rule:nonzero;fill:{{ add_gift_button_color }};fill-opacity:1;'
                                    d='M 22.296875 46.835938 L 6.964844 46.835938 C 4.617188 46.835938 2.707031 44.933594 2.707031 42.589844 L 2.707031 21.089844 C 2.707031 20.027344 3.570312 19.164062 4.636719 19.164062 L 22.296875 19.164062 Z M 22.296875 46.835938 '/>
                                <path
                                    style=' stroke:none;fill-rule:nonzero;fill:{{ add_gift_button_text_color }};fill-opacity:1;'
                                    d='M 4.636719 20.3125 C 4.207031 20.3125 3.859375 20.660156 3.859375 21.089844 L 3.859375 42.589844 C 3.859375 44.292969 5.257812 45.6875 6.964844 45.6875 L 21.144531 45.6875 L 21.144531 20.3125 L 4.636719 20.3125 M 4.636719 18.015625 L 23.449219 18.015625 L 23.449219 47.988281 L 6.964844 47.988281 C 3.980469 47.988281 1.554688 45.566406 1.554688 42.589844 L 1.554688 21.089844 C 1.554688 19.394531 2.9375 18.015625 4.636719 18.015625 Z M 4.636719 18.015625 '/>
                                <path
                                    style=' stroke:none;fill-rule:nonzero;fill:{{ add_gift_button_color }};fill-opacity:1;'
                                    d='M 38.042969 46.835938 L 22.710938 46.835938 L 22.710938 19.164062 L 40.371094 19.164062 C 41.4375 19.164062 42.300781 20.027344 42.300781 21.089844 L 42.300781 42.589844 C 42.300781 44.933594 40.390625 46.835938 38.042969 46.835938 Z M 38.042969 46.835938 '/>
                                <path
                                    style=' stroke:none;fill-rule:nonzero;fill:{{ add_gift_button_text_color }};fill-opacity:1;'
                                    d='M 23.863281 20.3125 L 23.863281 45.6875 L 38.042969 45.6875 C 39.75 45.6875 41.148438 44.292969 41.148438 42.589844 L 41.148438 21.089844 C 41.148438 20.660156 40.800781 20.3125 40.371094 20.3125 L 23.863281 20.3125 M 21.558594 18.015625 L 40.371094 18.015625 C 42.070312 18.015625 43.453125 19.394531 43.453125 21.089844 L 43.453125 42.589844 C 43.453125 45.566406 41.027344 47.988281 38.042969 47.988281 L 21.558594 47.988281 Z M 21.558594 18.015625 '/>
                                <path
                                    style=' stroke:none;fill-rule:nonzero;fill:{{ add_gift_button_color }};fill-opacity:1;'
                                    d='M 17.679688 20.320312 L 27.335938 20.320312 L 27.335938 45.714844 L 17.679688 45.714844 Z M 17.679688 20.320312 '/>
                                <path
                                    style=' stroke:none;fill-rule:nonzero;fill:{{ add_gift_button_text_color }};fill-opacity:1;'
                                    d='M 32.714844 32.03125 C 32.714844 37.652344 28.144531 42.210938 22.507812 42.210938 C 16.871094 42.210938 12.300781 37.652344 12.300781 32.03125 C 12.300781 26.410156 16.871094 21.851562 22.507812 21.851562 C 28.144531 21.851562 32.714844 26.410156 32.714844 32.03125 Z M 32.714844 32.03125 '/>
                                <path
                                    style=' stroke:none;fill-rule:nonzero;fill:{{ add_gift_button_color }};fill-opacity:1;'
                                    d='M 28.460938 31.085938 L 20.320312 26.285156 C 19.65625 25.894531 18.644531 26.273438 18.644531 27.238281 L 18.644531 36.835938 C 18.644531 37.234375 18.859375 37.601562 19.203125 37.796875 C 19.550781 37.996094 19.976562 37.992188 20.320312 37.789062 L 28.460938 32.992188 C 28.800781 32.792969 29.007812 32.429688 29.007812 32.039062 C 29.007812 31.644531 28.800781 31.285156 28.460938 31.085938 Z M 28.460938 31.085938 '/>
                            </g>
                        </svg>
                            <span class='personalize-gift-btn-span' style='color: {{ add_gift_button_text_color }};'>{{ add_gift_button_text }}</span>
                            <i style='width:15px; margin-right:-15px; display: block;'>
                                <i class='fa fa-spinner fa-pulse ec-fa-pulse'
                                   style='color: {#FFFFFF}'></i>
                            </i>
                        </a>
                    {% endif %}
                </p>
        </div>
    {% endif %}