<div class="featured-cards">
  <div class="carousel">
     {% if section.settings.collection_main != blank %}
        {% for product in collection_main.products limit: collection_limit %}
          {%- if product.metafields.inventory.ShappifyHidden == 'true' -%}{%- continue -%}{%- endif -%}
          {% assign first_variant = product.selected_or_first_available_variant %}
          {% assign featured_img_src = first_variant.featured_img.src | default: product.featured_image.src %}
          {% assign price = first_variant.price %}
          {% assign compare_at_price = first_variant.compare_at_price %}
          <div
            class="carousel__cell"
            style="width:{{ section.settings.cell_width }};margin-right:{{ section.settings.mr }}px"
          >
            <a href="{{ product.url }}">
              <img class="lazyload" src="{{ product | img_url: img_width }}" alt="{{ product.featured_img.alt }}">
            </a>
            <a href="{{ product.url }}">
              <h5>{{ product.title }}</h5>
            </a>
            {% if compare_at_price > price %}
              <s class="product__compare-at-price">{{ compare_at_price | money }}</s>
              <p class="product__product-price">{{ price | money }}</p>
            {% else %}
              <p class="product__product-price">{{ price | money }}</p>
            {% endif %}
          </div>
        {% endfor %}
      {% else %}
  {% for block in section.blocks limit: collection_limit %}
          <div
            class="carousel__cell"
            style="width:{{ section.settings.cell_width }};margin-right:{{ section.settings.mr }}px"
          >
            <a href="{{ block.settings.imgurl }}">
              <img
                class="lazyload"
                src="{{ block.settings.collectionimage | img_url: img_width }}"
                alt="{{ product.featured_img.alt }}"
              >
              <p>{{ block.settings.title1 }}</p>
            </a>
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
</div>
{% assign nav_range = section.settings.navigation_amount %}
{% style %}
  @media only screen and ( min-width: 1201px ) {
    {% if nav_range == 2 %}
    .featured-cards .carousel-cell {
      width: calc(49% - 10px);
    }
    {% elsif nav_range == 3 %}
    .featured-cards .carousel-cell {
      width: calc(32% - 10px);
    }
    {% elsif nav_range == 4 %}
    .featured-cards .carousel-cell {
      width: calc(24% - 10px);
    }
    {% endif %}
  }
  .flickity-page-dots .dot {
    background: {{ section.settings.navigation_color }};
  }
  .flickity-button-icon {
    color: {{ section.settings.navigation_color }};
  }
{% endstyle %}
<script>
  var elem = document.querySelector('.featured-cards .carousel');
  var flkty = new Flickity( elem, {
    contain: true,
    imagesLoaded: true,
    lazyLoad: 2,
    wrapAround: true,
    pageDots: false,
  });
  {% if request.design_mode %}
  document.addEventListener("shopify:section:load", function(event) {
    var elem = document.querySelector('.featured-cards .carousel');
    var flkty = new Flickity( elem, {
    contain: true,
    imagesLoaded: true,
    lazyLoad: 2,
    wrapAround: true,
    pageDots: false,
    });
  });
  {% endif %}
</script>
{% schema %}
{
"name": "Collection Slate",
"settings": [
{
"type": "collection",
"id": "collection_main",
"label": "Choose a Collection"
},
{
"type": "range",
"id": "collection_limit",
"min": 3,
"max": 50,
"step": 1,
"unit": ".",
"label": "How many products/images to show",
"default": 3
},
{
"type": "color",
"id": "bg",
"label": "Background Color"
},
{
"type": "text",
"id": "title",
"label": "Title",
"default": "Featured Collection Slider"
},
{
"type": "range",
"id": "img_width",
"min": 300,
"max": 350,
"step": 5,
"unit": "px",
"label": "Image Width",
"default": 300
},
{
"type": "select",
"id": "cell_align",
"label": "Slide Alignment",
"options": [
{
"value": "center",
"label": "Center"
},
{
"value": "left",
"label": "Left"
}
],
"default": "center"
},
{
"type": "range",
"id": "title_mb",
"min": 30,
"max": 120,
"step": 1,
"unit": "px",
"label": "Title Margin Bottom",
"default": 48
},
{
"type": "select",
"id": "cell_width",
"label": "Choose number of slides to show on start",
"options": [
 {
"value": "33%",
"label": "Three"
},
{
"value": "25%",
"label": "Four"
},
{
"value": "20%",
"label": "Five"
},
{
"value": "16.6666667%",
"label": "Six"
},
{
"value": "12.5%",
"label": "Eight"
}
],
"default": "25%"
},
{
"type": "radio",
"id": "wrap_around",
"label": "Enable Wrap Around (endless scrolling)",
"options": [
{
"value": "true",
"label": "True"
}
],
"default": "true"
},
{
"type": "range",
"id": "mr",
"min": 0,
"max": 48,
"step": 1,
"unit": "px",
"label": "Cell Margin Right",
"default": 16,
"info": "Save page to see changes."
}
],
"blocks": [
  {
    "type": "collection",
    "name": "Add",
    "settings": [
      {
        "type": "image_picker",
        "id": "collectionimage",
        "label": "Collection Image"
      },
      {
        "type": "text",
        "id": "title1",
        "label": "Name"
      },
      {
        "type":"text",
        "id":"imgurl",
        "label":"Enter Link"
      }
    ]
  }
],
"presets": [
{
"name": "Collection Slates",
"category": "Slider"
}
]
}
{% endschema %}
{% stylesheet %}
    .featured-cards {
    max-width: 1600px;
    margin: auto;
    padding: 0 20px;
    padding-bottom: 32px;
    margin-top: 55px;
  }
  .featured-cards img {
    width: 100%;
  }
  .featured-cards .carousel-cell {
    background: #fff;
    border-radius: 16px;
    margin: auto;
    padding: 18px;
    margin: 12px;
    width: calc(32% - 10px);
  }
  .product-btn {
    width: 100%;
  }
  @media only screen and ( max-width: 767px ) {
    .featured-cards .carousel-cell {
      width: calc(50% - 10px);
    }
  }
  @media only screen and ( max-width: 479px ) {
    .featured-cards .carousel-cell {
      width: calc(100% - 10px);
    }
  }
{% endstylesheet %}
